:root {
  font-size: 10px;
}

html {
  background-color: beige;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.3fr 2fr;
  grid-template-rows: 3vh 97vh;
}

nav {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: aqua;
}
body {
  position: relative;
}

.project-container {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  background-color: aquamarine;
}

.to-dos {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  background-color: bisque;
}

.to-dos__form,
.project__form {
  max-width: 50rem;
  min-width: 10rem;
  background-color: grey;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.to-dos__form-cancel {
  position: absolute;
  width: 50px;
  background: transparent;
  border: none;
  left: 80%;
  top: 2%;
}

#description {
  resize: none;
}

#enabled {
  animation-name: showElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showElement {
  0% {
    visibility: hidden;
    delay: 500ms;
    opacity: 0;
  }
  100% {
    visibility: visible;
    delay: 500ms;
    opacity: 1;
  }
}

/* Bloque de estilo para ocultar */
#disabled {
  animation-name: hideElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideElement {
  0% {
    visibility: visible;
    delay: 500ms;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    delay: 500ms;
    opacity: 0;
  }
}
