:root {
  font-size: 10px;
}

html {
  font-family: "Molengo", sans-serif;
  background-color: #3d3143;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 180px) 1fr;
  grid-template-rows: 4vh 96vh;
}

body {
}

h1 {
  font-family: "Carme", sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3rem;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

nav {
  /* background-color: #faf2db; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
body {
  position: relative;
}

.project-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  /* background-color: #faf2db; */
  border: solid 3px rgb(22, 22, 29);
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.to-dos__container {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  /* background-color: #faf2db; */
  border: solid 3px rgb(22, 22, 29);
  padding: 20px;
}

.to-dos__form,
.project__form {
  background-color: grey;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 3px;
  font-size: 2rem;
}

.to-dos__form-cancel {
  position: absolute;
  width: 50px;
  background: transparent;
  border: none;
  left: 80%;
  top: 2%;
}

#description {
  resize: none;
  max-height: 50px;
}

#enabled {
  animation-name: showElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showElement {
  0% {
    visibility: hidden;
    delay: 500ms;
    opacity: 0;
  }
  100% {
    visibility: visible;
    delay: 500ms;
    opacity: 1;
  }
}

/* Bloque de estilo para ocultar */
#disabled {
  animation-name: hideElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideElement {
  0% {
    visibility: visible;
    delay: 500ms;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    delay: 500ms;
    opacity: 0;
  }
}

.to-dos__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

.to-dos__list-item {
  display: grid;
  grid-template-columns: 2fr repeat(3, 0.5fr);
  max-width: 1500px;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 50%;
  /* background-color: #faf2db; */
  border: 1px solid red;
  text-align: center;
}

.to-dos__list-item > * {
  border: solid red 1px;
  height: 100%;
  text-align: center;
}

.fa-square-plus {
  font-size: 200%;
}

.project-container__btn {
  display: flex;
  justify-content: start;
  all: unset;
  cursor: pointer;
  width: 100%;
  align-self: center;
}

.to-dos__container-btn {
  all: unset;
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

.project-container__btn span {
  font-size: 2rem;
  /* margin-right: 20px; */
}

.project-container__list-item {
  cursor: pointer;
  width: fit-content;
}

#to-dos__container-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
